@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html
{
    scroll-behavior: smooth;
}

.navbar{
    background-color: #d0e0e0a9;    
    padding: 0 5%;
    margin-bottom: 5rem;
    
    }


.nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    }

.brand{
    margin-right: auto;    
}

.brand img{
    height: 4rem;
    width: 4rem;
}

.nav-item{
    position: relative;
}

.nav-item:not(:last-child){
    margin: 0 1rem;
}

.nav-item:last-child{
    margin-left: 1rem;
}

.nav-item a{

    color: black;
    font-weight: 600;    
}

.nav-item::before{

    width: 0;
    position: absolute;
    content: "";
    bottom: -50%;    
    border-bottom: 3px solid black;
    left: 50%;
    transition: all 1s;
    
}

.nav-item::after{

    width: 0;
    position: absolute;
    content: "";
    bottom: -50%;    
    border-bottom: 3px solid black;
    right: 50%; 
    transition: all 1s;
    
}

.nav-item:hover::before{

    width: 50%;
    
}

.nav-item:hover::after{

    width: 50%;
    
}

.container{

    margin: 0 10% ;
}


.city-title{
    font-family: 'Inria Serif', serif;
    font-size: 5.5rem; 
    position: relative;
    text-transform: uppercase;  

}

.city-title::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    border-bottom: 5px solid black;
    bottom: -10%;
    left: 25%;

}

.housesgrid{
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.houses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.house{
    position: relative;
    max-width: 45%;    
    margin: 2.5% 0;
    cursor: pointer;
    transition: all 1s;
    overflow: hidden;
    height: 400px;
}

.up_page
{
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: rgba(45, 45, 45, 0.667);
    transition: all 1s;
    display: none;
    
}

.up_page:hover
{
   transform: scale(1.2);
   cursor: pointer;
}



.houseinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    position: absolute;
    bottom: -100px;
    background-color: #d0e0e0a9;
    width: 100%;
    transition: all 1s;
    height: 20%;
}

.houseinfo p{

    width: 50%;
    padding-top: 1rem;
    font-size: 1.3rem;
    font-family: sans-serif;
}

.houseinfo p:last-child
{
    padding-bottom: .8rem;
}

.fa-heart
{
    position: absolute;
    right: 5%;
    top: 8%;
}


a .a_bubble
{
    position: absolute;
    border-radius: 50%;
    left: 5%;
    top: 3%;
    transition: 1s all;
}


a .a_bubble:hover
{
    transform: scale(1.4);
}

.arrow_container
{
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 1s;

}

.a_left
{
    left: 10px;
}

.a_right
{
    right: 10px;
}

.arrow_container:hover
{
    background-color: rgba(45, 45, 45, 0.667);

}




@media screen and (max-width: 1390px) {
    .house_img{
        width: 100%;
    }
   
}

@media screen and (min-width: 1500px) {
    .house:hover{
        transform: scale(1.06);
    }
    
   
}

@media screen and (max-width: 700px) {
    html
    {
        font-size: 10px;
    }    
    
    .navbar{
           
        padding: 0;
        
        
        }

    .houses
    {
        flex-direction: column;
        align-items: center;
    }
    .house
    {
        max-width: 100%;
        height: 200px;
    }

    .house_img{
        height: 100%;
    }

    .houseinfo
    {
        height: 30%;
        bottom: 0;
    }

    .city-title
    {
        margin-bottom: 4%;
        font-size: 3.5rem;
    }

    .city-title::after{
        border-bottom: 3px solid black;
    
    }
}

