/*INFOS TEXT*/
.TEXT {

 width: 100%;
 height: 100%;
 position: relative;
 margin-top:20% ;
}

.Colonne1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Colonne2{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Colonne3{
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text1 {
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 1.8rem;
line-height: 24px;
color: #000000;
max-width: 35%;
text-align: center;
margin-top: 5%;
margin-right:10%;
}
.text2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  color: #000000;
  max-width: 35%;
  text-align: center;
  margin-top: 5%;
  margin-left:10%;
}
.text3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  color: #000000;
  max-width: 35%;
  text-align: center;
  margin-right: 10%;
}

.Louer {
  font-family: 'Inria Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  color: #0B3370;
  margin-left: 10%;
}
.Acheter {
font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 115px;
color: #0B3370;
text-align: center;
margin-right: 15%;
}
.Estimer {
font-family: 'Inria Serif';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 115px;
color: #0B3370;
text-align: center;
margin-left: 10%;
}

/*MEDIA QUERRIES*/

@media screen and (max-width: 521px) {

.TEXT{

  padding-top: 75rem;
  
}



.Colonne1 , .Colonne2 , .Colonne3{


  flex-direction: column;
  
}




}



